body {
  /*background-image: linear-gradient(to left, #870000, #190A05);
  background-color: rgb(19, 19, 19);*/ 
  background:rgb(19, 19, 19);
}

.contacto{
  padding: 146px 0px
}

  .row {
    margin-right: 0rem;
  }

.ventas .card {
  width: 18rem
}

.ventas .card .card-img-top {
  height: 280px;
  width: auto;
}

.ventas .card-body {
  padding: 0rem;
}

.bg-black {
  background: rgb(19, 19, 19);
}

.bg-black-shadow {
  background: rgb(19, 19, 19, .5);
}

.bg-darker-black {
  background: rgb(10, 10, 10);
}


.bg-purple {
  background-color: #2d132c;
}

.walpaper-sentado {
  background-image:url(../assets/wallpaper_sentado.jpeg);
  min-width: 1800px;
  min-height: 1200px;
  background-repeat: no-repeat;
}

.card-img-overlay2{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.hover-grow{
  transition: all 0.3s ease;

  
}

.hover-grow:hover {
  transform: scale(1.1);
  z-index: 1;
}

.navbar-logo {
  height: 40px;
}

.price {
  font-size: xx-large;
  color: lightgreen;
  font-family:monospace;
}

.btn-icon{
  margin: 0px 10px;
}

.border-none{
border: none;
}

.ventas .btn{
   
    margin-top: 15px;
  
}

.menu .card img{
  height: 390px;
}

.font-size-24 {
  font-size: 24px;
}

.home-intro2 {
  display: none;
}

@media only screen and (max-width: 520px) {
  .home-intro {
    display: none;
  }

  .home-intro2{
    display: block;
  }

}


@media only screen and (max-width: 454px) {
  .ventas .disabled {
    display: none;
    
  }
  
}



@media only screen and (max-width: 600px) {
  footer img {
    width: 75%;
  }
  
  .menu .card img{
    height: 150px;
  }

  .card-img-overlay2{
    position: relative;
    bottom: 0;
    left: 0;
    padding: 5px;
    background:#2d132c ;
  }

  .card-img-overlay2 .card-title {
    font-size: 100%;
  }

}